:root {
  --danger-active-font-color: #fff;
  --danger-active: #b91c1c;
  --danger-font-color: #fff;
  --danger-hover-font-color: #fff;
  --danger-hover: #dc2626;
  --danger: #ef4444;
  --dark-active: #262626;
  --dark-hover: #171717;
  --dark: #0a0a0a;
  --info-active: #0f8abe;
  --info-hover: #109ad6;
  --info: #31d2f2;
  --light-active: #d6d3d1;
  --light-hover: #e7e5e4;
  --light: #f5f5f5;
  --primary-active-font-color: #fff;
  --primary-active: #1d4ed8;
  --primary-font-color: #fff;
  --primary-hover-font-color: #fff;
  --primary-hover: #2563eb;
  --primary: #3b82f6;
  --secondary-active: #525252;
  --secondary-hover: #737373;
  --secondary: #a3a3a3;
  --success-active: #15803d;
  --success-hover: #16a34a;
  --success: #22c55e;
  --violet-active: #7e22ce;
  --violet-hover: #7c3aed;
  --violet: #8b5cf6;
  --warning-active: #eab308;
  --warning-hover: #facc15;
  --warning: #fde047;

  --outline-danger-active: #b91c1c;
  --outline-danger-hover: #ef4444;
  --outline-danger: #ef4444;
  --outline-dark-active: #262626;
  --outline-dark-hover: #0a0a0a;
  --outline-dark: #0a0a0a;
  --outline-info-active: #0f8abe;
  --outline-info-hover: #31d2f2;
  --outline-info: #31d2f2;
  --outline-light-active: #d4d4d4;
  --outline-light-hover: #f5f5f5;
  --outline-light: #f5f5f5;
  --outline-primary-active: #094c8e;
  --outline-primary-hover: #006bb1;
  --outline-primary: #006bb1;
  --outline-secondary-active: #525252;
  --outline-secondary-hover: #a3a3a3;
  --outline-secondary: #a3a3a3;
  --outline-success-active: #166534;
  --outline-success-hover: #16a34a;
  --outline-success: #16a34a;
  --outline-violet-active: #8b5cf6;
  --outline-violet-hover: #7e22ce;
  --outline-violet: #7e22ce;
  --outline-warning-active: #eab308;
  --outline-warning-hover: #fde047;
  --outline-warning: #fde047;
}

.btn {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-hover-border-color) !important;
  border: var(--btn-border-width) solid var(--btn-border-color) !important;
  color: var(--btn-color) !important;
  font-weight: 400 !important;
}

.btn:hover {
  background-color: var(--btn-hover-bg) !important;
  border-color: var(--btn-hover-border-color) !important;
  color: var(--btn-hover-color) !important;
}

.btn-check + .btn:hover {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-border-color) !important;
  color: var(--btn-color) !important;
}

.btn:focus-visible {
  background-color: var(--btn-hover-bg) !important;
  border-color: var(--btn-hover-border-color) !important;
  box-shadow: var(--btn-focus-box-shadow) !important;
  color: var(--btn-hover-color) !important;
  outline: 0 !important;
}

.btn-check:focus-visible + .btn {
  border-color: var(--btn-hover-border-color) !important;
  box-shadow: var(--btn-focus-box-shadow) !important;
  outline: 0 !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--btn-active-bg) !important;
  border-color: var(--btn-active-border-color) !important;
  color: var(--btn-active-color) !important;
}

.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: var(--btn-focus-box-shadow) !important;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: var(--btn-disabled-bg) !important;
  border-color: var(--btn-disabled-border-color) !important;
  color: var(--btn-disabled-color) !important;
  cursor: not-allowed !important;
  opacity: var(--btn-disabled-opacity) !important;
  pointer-events: all !important;
}

.btn-primary {
  --btn-active-bg: var(--primary-active);
  --btn-active-border-color: var(--primary-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  --btn-color: #fff;
  --btn-disabled-bg: var(--primary);
  --btn-disabled-border-color: var(--primary);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 19, 101, 174;
  --btn-hover-bg: var(--primary-hover);
  --btn-hover-border-color: var(--primary-hover);
  --btn-hover-color: #fff;
}

.btn-secondary {
  --btn-active-bg: var(--secondary-active);
  --btn-active-border-color: var(--secondary-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--secondary);
  --btn-border-color: var(--secondary);
  --btn-color: #fff;
  --btn-disabled-bg: var(--secondary);
  --btn-disabled-border-color: var(--secondary);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 130, 138, 145;
  --btn-hover-bg: var(--secondary-hover);
  --btn-hover-border-color: var(--secondary-hover);
  --btn-hover-color: #fff;
}

.btn-success {
  --btn-active-bg: var(--success-active);
  --btn-active-border-color: var(--success-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--success);
  --btn-border-color: var(--success);
  --btn-color: #fff;
  --btn-disabled-bg: var(--success);
  --btn-disabled-border-color: var(--success);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 60, 153, 110;
  --btn-hover-bg: var(--success-hover);
  --btn-hover-border-color: var(--success-hover);
  --btn-hover-color: #fff;
}

.btn-info {
  --btn-active-bg: var(--info-active);
  --btn-active-border-color: var(--info-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--info);
  --btn-border-color: var(--info);
  --btn-color: #fff;
  --btn-disabled-bg: var(--info);
  --btn-disabled-border-color: var(--info);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 11, 172, 204;
  --btn-hover-bg: var(--info-hover);
  --btn-hover-border-color: var(--info-hover);
  --btn-hover-color: #fff;
}

.btn-warning {
  --btn-active-bg: var(--warning-active);
  --btn-active-border-color: var(--warning-active);
  --btn-active-color: #000;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--warning);
  --btn-border-color: var(--warning);
  --btn-color: #000;
  --btn-disabled-bg: var(--warning);
  --btn-disabled-border-color: var(--warning);
  --btn-disabled-color: #000;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 217, 164, 6;
  --btn-hover-bg: var(--warning-hover);
  --btn-hover-border-color: var(--warning-hover);
  --btn-hover-color: #000;
}

.btn-danger {
  --btn-active-bg: var(--danger-active);
  --btn-active-border-color: var(--danger-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--danger);
  --btn-border-color: var(--danger);
  --btn-color: #fff;
  --btn-disabled-bg: var(--danger);
  --btn-disabled-border-color: var(--danger);
  --btn-disabled-color: #fff;
  --btn-focus-shadow-rgb: 225, 83, 97;
  --btn-hover-bg: var(--danger-hover);
  --btn-hover-border-color: var(--danger-hover);
  --btn-hover-color: #fff;
}

.btn-light {
  --btn-active-bg: var(--light-active);
  --btn-active-border-color: var(--light-active);
  --btn-active-color: #000;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--light);
  --btn-border-color: var(--light);
  --btn-color: #000;
  --btn-disabled-bg: var(--light);
  --btn-disabled-border-color: var(--light);
  --btn-disabled-color: #000;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 211, 212, 213;
  --btn-hover-bg: var(--light-hover);
  --btn-hover-border-color: var(--light-hover);
  --btn-hover-color: #000;
}

.btn-dark {
  --btn-active-bg: var(--dark-active);
  --btn-active-border-color: var(--dark-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--dark);
  --btn-border-color: var(--dark);
  --btn-color: #fff;
  --btn-disabled-bg: var(--dark);
  --btn-disabled-border-color: var(--dark);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 66, 70, 73;
  --btn-hover-bg: var(--dark-hover);
  --btn-hover-border-color: var(--dark-hover);
  --btn-hover-color: #fff;
}

.btn-violet {
  --btn-active-bg: var(--violet-active);
  --btn-active-border-color: var(--violet-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-bg: var(--violet);
  --btn-border-color: var(--violet);
  --btn-color: #fff;
  --btn-disabled-bg: var(--violet);
  --btn-disabled-border-color: var(--violet);
  --btn-disabled-color: #fff;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 217, 164, 6;
  --btn-hover-bg: var(--violet-hover);
  --btn-hover-border-color: var(--violet-hover);
  --btn-hover-color: #fff;
}

.btn-outline-primary {
  --btn-active-bg: var(--outline-primary-active);
  --btn-active-border-color: var(--outline-primary-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-primary);
  --btn-border-width: 2px;
  --btn-color: var(--outline-primary);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-primary);
  --btn-disabled-color: var(--outline-primary);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 19, 101, 174;
  --btn-hover-bg: var(--outline-primary-hover);
  --btn-hover-border-color: var(--outline-primary-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-secondary {
  --btn-active-bg: var(--outline-secondary-active);
  --btn-active-border-color: var(--outline-secondary-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-secondary);
  --btn-border-width: 2px;
  --btn-color: var(--outline-secondary);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-secondary);
  --btn-disabled-color: var(--outline-secondary);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 108, 117, 125;
  --btn-hover-bg: var(--outline-secondary-hover);
  --btn-hover-border-color: var(--outline-secondary-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-success {
  --btn-active-bg: var(--outline-success-active);
  --btn-active-border-color: var(--outline-success-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-success);
  --btn-border-width: 2px;
  --btn-color: var(--outline-success);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-success);
  --btn-disabled-color: var(--outline-success);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 25, 135, 84;
  --btn-hover-bg: var(--outline-success-hover);
  --btn-hover-border-color: var(--outline-success-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-info {
  --btn-active-bg: var(--outline-info-active);
  --btn-active-border-color: var(--outline-info-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-info);
  --btn-border-width: 2px;
  --btn-color: var(--outline-info);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-info);
  --btn-disabled-color: var(--outline-info);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 13, 202, 240;
  --btn-hover-bg: var(--outline-info-hover);
  --btn-hover-border-color: var(--outline-info-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-warning {
  --btn-active-bg: var(--outline-warning-active);
  --btn-active-border-color: var(--outline-warning-active);
  --btn-active-color: #000;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-warning);
  --btn-border-width: 2px;
  --btn-color: var(--outline-warning);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-warning);
  --btn-disabled-color: var(--outline-warning);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 255, 193, 7;
  --btn-hover-bg: var(--outline-warning-hover);
  --btn-hover-border-color: var(--outline-warning-hover);
  --btn-hover-color: #000;
  --gradient: none;
}

.btn-outline-danger {
  --btn-active-bg: var(--outline-danger-active);
  --btn-active-border-color: var(--outline-danger-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-danger);
  --btn-border-width: 2px;
  --btn-color: var(--outline-danger);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-danger);
  --btn-disabled-color: var(--outline-danger);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 220, 53, 69;
  --btn-hover-bg: var(--outline-danger-hover);
  --btn-hover-border-color: var(--outline-danger-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-light {
  --btn-active-bg: var(--outline-light-active);
  --btn-active-border-color: var(--outline-light-active);
  --btn-active-color: #000;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-light);
  --btn-border-width: 2px;
  --btn-color: #000;
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-light);
  --btn-disabled-color: var(--outline-light);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 248, 249, 250;
  --btn-hover-bg: var(--outline-light-hover);
  --btn-hover-border-color: var(--outline-light-hover);
  --btn-hover-color: #000;
  --gradient: none;
}

.btn-outline-dark {
  --btn-active-bg: var(--outline-dark-active);
  --btn-active-border-color: var(--outline-dark-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-dark);
  --btn-border-width: 2px;
  --btn-color: var(--outline-dark);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-dark);
  --btn-disabled-color: var(--outline-dark);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 33, 37, 41;
  --btn-hover-bg: var(--outline-dark-hover);
  --btn-hover-border-color: var(--outline-dark-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-outline-violet {
  --btn-active-bg: var(--outline-violet-active);
  --btn-active-border-color: var(--outline-violet-active);
  --btn-active-color: #fff;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-border-color: var(--outline-violet);
  --btn-border-width: 2px;
  --btn-color: var(--outline-violet);
  --btn-disabled-bg: transparent;
  --btn-disabled-border-color: var(--outline-violet);
  --btn-disabled-color: var(--outline-violet);
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 33, 37, 41;
  --btn-hover-bg: var(--outline-violet-hover);
  --btn-hover-border-color: var(--outline-violet-hover);
  --btn-hover-color: #fff;
  --gradient: none;
}

.btn-link {
  --btn-active-border-color: transparent;
  --btn-active-color: var(--link-hover-color);
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-box-shadow: 0 0 0 #000;
  --btn-color: var(--link-color);
  --btn-disabled-border-color: transparent;
  --btn-disabled-color: #6c757d;
  --btn-disabled-opacity: 0.75;
  --btn-focus-shadow-rgb: 49, 132, 253;
  --btn-font-weight: 400;
  --btn-hover-border-color: transparent;
  --btn-hover-color: var(--link-hover-color);
  text-decoration: underline;
}

.btn-link:focus-visible {
  color: var(--bs-btn-color);
}

.btn-link:hover {
  color: var(--bs-btn-hover-color);
}
